.soul{
aling:center;
}
.enlaces a{
font-color:black;
}
.juan div {
  background-color: beige;
  font-size: 18pt;
  border: groove red 5px; 
}
.titulo{
font-size: 14pt;
}
.subtitulo {
font-size:13;
font-color:grey;
}
/* Start http://www.cursors-4u.com */ * {cursor: url(http://cur.cursors-4u.net/people/peo-2/peo158.cur), auto !important;} /* End http://www.cursors-4u.com */
