html, body {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 20px;
  -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
  box-shadow: 0 5px 6px rgba(0,0,0,0.3);
  z-index:5;
}

#game {
  background-color: #3d3d3d;
  padding: 20px;
  z-index: -1;
  position: relative;
}

.leaderboard {
  text-align: center;
  margin: 0;
  padding: 20px;
}

.table {
  text-align: center;
  list-style-position: inside;
  padding: 0;
  font-size: 20px;
}

canvas {
  margin: auto;
  margin-top: 20px;
  display: block;
  box-shadow: 5px 5px 5px #212121;
}
